/node_modules
/vendor
/.env
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
.phpunit.result.cache
# /public/build (Commented out to ensure Vercel CLI uploads pre-built assets)
# /public/build

.vercel
.env*.local
